<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>profil</title>
  <link rel="stylesheet" href="../static/1.css">
  <link rel="stylesheet" href="../static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div class="all flex-row">
    <div class="menu flex-column">
      <div class="flex-row label-wrapper">

          <div class="nav-logo">
            <a href="home.html">FORUM</a>
          </div>
          
      </div>
      <div class="profil-img"></div>
      
        <h2 class="name2">BENJAMIN HARDMAN</h2>
        <div class="follows"> 
         <div class="post">
            <p>Photos</p>
            <div class="post-num">882</div>
          </div>
          <div class="post">
            <p>Followers</p>
            <div class="post-num">527k</div>
          </div>
          
        </div>
        <div class="read-me">
          Benjamin is a freelance photographer in Iceland. He is interested in UI development and design.
 
          Five years ago Benjamin embarked on his first photographic mission in an Arctict winter climate
                    Benjamin is a freelance photographer in Iceland. He is interested in UI development and design.
 
          Five years ago Benjamin embarked on his first photographic mission in an Arctict winter climate...<span class="read"> Read more
            
          </span>
        </div>
        
          <div class="feature"> 
         <div class="post2">
            <p>Locations</p>
            <div class="post-num">Based in Iceland</div>
          </div>
          <div class="post2">
            <p>Profession</p>
            <div class="post-num">Photographer</div>
          </div>
             <div class="post2">
            <p>Profession</p>
            <div class="post-num">Developer</div>
            </div>
    </div>
  </div>
  <div class="right-page">
    <div class="top-bar">
     

      <div class="navbar">
        <div class="nav-items">
          <ul>
            <li><a href="./home.html"> Home </a></li>
            <li><a href="#"> Services </a></li>
            <li><a href="#"> About </a></li>
            <li><a href="#"> Contact </a></li>
          </ul>
        </div>

        <form action="/logout" method="post">
          <button class="logout">
            <div class="sign">
              <svg viewBox="0 0 512 512">
                <path
                  d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
                ></path>
              </svg>
            </div>
            <div class="text">Logout</div>
          </button>
        </form>
        <div id="hamburger-menu">&#9776;</div>
      </div>
    
      <div id="mobile-menu">
        <div id="mobile-nav-items" class="mobile-nav-items">
          <ul>
            <li><a href="#"> Home </a></li>
            <li><a href="#"> Services </a></li>
            <li><a href="#"> About </a></li>
            <li><a href="#"> Contact </a></li>
            <li><a href="#"> Home </a></li>
          </ul>
        </div>
        <div id="navButtonMobile" class="mobile-nav-button">
          <div class="anim-layer"></div>
          <a href="#" id="loginMobile">Sign Up</a>
        </div>
        <div id="hamburger-cross">&#10006;</div>
      </div>
    </div>
    <hr class="hr-new">
    <div class="right-of-page">
      <div class="right-middle">
        <div class="featured">
                    <div class="featured-header">
                        <h2 class="featured-stories"> Featured Stories</h2>
                        <button class="button popular-stor"> Popular Stories</button>
                    </div>
                    <div class="featured-body">
                        <div class="galery-wrapper">
                            <div class="img-galery">
                                <img
                                    src="https://images.unsplash.com/photo-1562447279-69402cb4587d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" />
                            </div>
                            <div class="img-galery">
                                <img
                                    src="https://images.unsplash.com/photo-1495954484750-af469f2f9be5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" />
                            </div>
                            <div class="img-galery">
                                <img
                                    src="https://images.unsplash.com/photo-1462275646964-a0e3386b89fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" />
                            </div>
                          <div class="img-galery">
                                <img
                                    src="https://images.unsplash.com/photo-1561363702-e07252da3399?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" />
                            </div>
                        </div>
                    </div>
                </div>
        
     <div class="featured">
                    <div class="featured-header">
                        <h2 class="featured-stories"> Latest Feed</h2>
                      <div class="icon-two">
                  <div class="icon3">
          <img src="https://i.ibb.co/Jd2NwHV/menu-lines.png" />
        </div>
        <div class="icon3">
          <img src="https://i.ibb.co/tZdq3jg/four-boxes.png" />
        </div>
                      </div>
                    </div>
                    <div class="featured-body">
                        <div class="galery-wrapper">
                            <div class="img-galery">
                                <img
                                    src="https://images.unsplash.com/photo-1426543881949-cbd9a76740a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" />
                            </div>
                            <div class="img-galery">
                                <img
                                    src="https://images.unsplash.com/photo-1532347922424-c652d9b7208e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" />
                            </div>
   
                          <div class="img-galery">
                                <img
                                    src="https://images.unsplash.com/photo-1414609245224-afa02bfb3fda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" />
                            </div>
                        </div>
                    </div>
       
        <div class="last-body">
                        <div class="galery-wrapper">
                            <div class="img-galery">
                                <img
                                    src="https://images.unsplash.com/photo-1506953823976-52e1fdc0149a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" />
                            </div>
                            <div class="img-galery">
                                <img
                                    src="https://images.unsplash.com/photo-1527212986666-4d2d47a80d5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" />
                            </div>
                            <div class="img-galery">
                                <img
                                    src="https://images.unsplash.com/photo-1505158498176-0150297fbd7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" />
                            </div>
                        </div>
                    </div>
                           <div class="loader"></div>

                </div>    
        
        
        
        
        
        
        
        
        
      </div>
      <!-- import -->
      <!-- trending categories -->
    <div id="trend" class="trend">
      <h2>Trending Categories</h2>
      <ol>
        {{range .Categories}}
        <li><a href="/category/{{.Name}}">{{.Name}}<span class="number_of_posts"> ({{.NbofP}} posts)</span></a></li>
        {{end}}
      </ol>
      <h2>Categories Followed</h2>
      <ol>
        <li>Category<span class="number_of_posts"> (30 followers)</span></li>
        <li>Category<span class="number_of_posts"> (25 followers)</span></li>
        <li>Category<span class="number_of_posts"> (18 followers)</span></li>
        <li>Category<span class="number_of_posts"> (12 followers)</span></li>
        <li>Category<span class="number_of_posts"> (12 followers)</span></li>
      </ol>
    </div>

    <!-- post card -->
    {{range .Posts}}
    <div class="card">
      <div class="ovelay"></div>
      <header class="user">
        <img
          src="data:image/jpeg;base64,{{.AuthorPicture}}"
        />
        <div class="user-info">
          <h2 class="user-info-name">{{.Author}}</h2>
          <p class="user-info-time">{{.TimePosted}}</p>
        </div>
        <h3>{{.Category}} - {{.Title}}</h3>
      </header>
      <main>
        <p>{{.Content}}</p>
    </div>
  </div>

</div>
<!-- partial -->
  
</body>
</html>
