@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #181818;
}

a {
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 997;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.navbar {
    position: relative;
    display: flex;
    padding: 10px;
    background-color: #212121;
    justify-content: space-around;
    align-items: center;
    box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
}

.nav-search .form {
    --input-text-color: #fff;
    --input-bg-color: #3D3D3D;
    --focus-input-bg-color: transparent;
    --text-color: #949faa;
    --active-color: #AAAAAA;
    --width-of-input: 300px;
    --height-of-input: 40px;
    --inline-padding-of-input: 1.2em;
    --gap: 0.9rem;
}

.nav-search .form {
    font-size: 0.9rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: var(--width-of-input);
    height: var(--height-of-input);
    position: relative;
    isolation: isolate;
}

.nav-search .fancy-bg {
    position: absolute;
    width: 100%;
    inset: 0;
    background: var(--input-bg-color);
    border-radius: 30px;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.nav-search label {
    width: 100%;
    padding: 0.8em;
    height: 40px;
    padding-inline: var(--inline-padding-of-input);
    display: flex;
    align-items: center;
}

.nav-search .search,.close-btn {
    position: absolute;
}

.nav-search .search {
    fill: var(--text-color);
    left: var(--inline-padding-of-input);
}

.nav-search svg {
    width: 17px;
    display: block;
}

.nav-search .close-btn {
    border: none;
    right: var(--inline-padding-of-input);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--active-color);
    opacity: 0;
    visibility: hidden;
}

.nav-search .input {
    color: var(--input-text-color);
    width: 100%;
    margin-inline: min(2em,calc(var(--inline-padding-of-input) + var(--gap)));
    background: none;
    border: none;
}

.nav-search .input:focus {
    outline: none;
}

.nav-search .input::placeholder {
    color: var(--text-color)
}

.nav-search .input:focus ~ .fancy-bg {
    border: 1px solid var(--active-color);
    background: var(--focus-input-bg-color);
}

.nav-search .input:focus ~ .search {
    fill: var(--active-color);
}

.nav-search .input:valid ~ .close-btn {
    opacity: 1;
    visibility: visible;
}

.nav-logo a,
.nav-button a {
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    display: flex;
    font-weight: bold;
}

.nav-logo {
    font-size: 32px;
}

.nav-button {
    background-color: #c52726;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

.anim-layer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: #FFFFFF;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-button:hover .anim-layer {
    width: 100%;
    left: 0;
}

.nav-button:hover a {
    color: #141214;
}

.nav-button a {
    display: block;
    padding: 10px 20px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

#hamburger-menu,
#mobile-menu {
    display: none;
}

@media only screen and (max-width: 770px) {
    #mobile-menu {
        background-color: #c52726;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: transform 0.3s ease;
        transform: translateX(-100%);
    }

    .mobile-nav-items > ul {
        padding: 0px;
    }

    .mobile-nav-items > ul > li {
        text-align: center;
        position: relative;
        list-style: none;
        margin: 10px;
        padding: 10px 20px;
        cursor: pointer;
    }

    .mobile-nav-items > ul > li > a {
        color: #FFFFFF;
        text-decoration: none;
    }

    .mobile-nav-items > ul > li::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.17rem;
        background-color: #FFFFFF;
        left: 0;
        bottom: 0;
        transform-origin: 0% 100%;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .mobile-nav-items > ul > li:hover::after {
        transform: scaleX(1);
    }

    .mobile-nav-button {
        background-color: #141214;
        border-radius: 50px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
    }

    .mobile-nav-button .anim-layer {
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 100%;
        background-color: #FFFFFF;
        transition: width 0.3s ease, left 0.3s ease;
    }

    .mobile-nav-button:hover .anim-layer {
        width: 100%;
        left: 0;
    }

    .mobile-nav-button:hover a {
        color: #141214;
    }

    .mobile-nav-button a {
        display: block;
        padding: 10px 20px;
        color: #FFFFFF;
        text-decoration: none;
        position: relative;
        z-index: 1;
    }

    .nav-items > ul,
    .nav-button {
        display: none;
    }

    #hamburger-cross {
        display: block;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 40px;
        position: absolute;
        top: 20px;
        right: 26px;
    }

    #hamburger-menu {
        display: block;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 24px;
    }
    .trend {
        display: none;
    }
}

.trend {
    position: fixed;
    top: 60px;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #212121;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    box-shadow: -15px 0px 17px -25px rgba(0,0,0,0.5);
    z-index: 998;
}

.trend h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.trend ol {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    text-align: left;
}

.trend li {
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.trend li a {
    color: #FFFFFF;
    text-decoration: none;
}

.trend li:hover {
    background-color: #3D3D3D;
}

.number_of_posts {
    color: #AAAAAA;
    font-size: 14px;
}

.card {
    position: relative;
    top: 120px;
    left: 5%;
    max-width: 960px;
    border-radius: 20px;
    background: #212121;
    overflow: hidden;
    padding: 14px;
    position: relative;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.card header.user {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.card header.user .userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card header.user img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.card header .user-info-name {
    letter-spacing: 0.4px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.card header .user-info-time {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.588);
}

.card header .headerTitle {
    font-size: 20px;
    color: #fff;
}

.card main {
    display: flex;
    align-items: baseline;
}

.card main p {
    font-size: 14px;
    color: #fff;
    line-height: 1.7;
    margin-left: 15px;
}

.card main .title {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-left: 50px;
}

.card section {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.card section p {
    color: rgba(255, 255, 255, 0.508);
    font-size: 12px;
    margin-left: 10px;
}

.card section p.comment {
    margin-left: auto;
    margin-right: 10px;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    top: 12px;
    right: 50px;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #c52726;
}

.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}
.logout:hover {
    width: 150px;
    border-radius: 40px;
    transition-duration: .3s;
}

.logout:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

.logout:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

.logout:active {
    transform: translate(2px ,2px);
}

.icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: fixed;
    bottom: 35px;
    left: 35px;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
}

.add-btn:hover {
    width: 120px;
}

.add-btn::before,
.add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: #c52726;
}

.add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.icon-btn:focus {
    outline: none;
}

.btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
    font-weight: bold;
}

.add-btn:hover::before,
.add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
}

.add-btn:hover .btn-txt {
    opacity: 1;
}

.add-icon::after,
.add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: #c52726;
    overflow: hidden;
}

.add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.pp {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.pp:hover {
    cursor: pointer;
    scale: 1.1;
}

.post-form * {
    z-index: 1000;
    color: #FFFFFF;
}

.post-form textarea {
    color: black;
}

.post-form .button {
    appearance: none;
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

.post-form .container {
    position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-form .modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #212121;
    box-shadow: 0 15px 30px 0 rgba(155, 0, 0, 0.15);
    border-radius: 10px;
}

.post-form .modal__header {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #c52726;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-form .modal__body {
    padding: 1rem 1rem;
}

.post-form .modal__footer {
    padding: 0 1.5rem 1.5rem;
}

.post-form .modal__title {
    font-weight: 700;
    font-size: 1.25rem;
}

.post-form .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease;
}

.post-form .button--primary {
    background-color: #c52726;
    color: #FFFFFF;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    font-weight: 500;
    font-size: 0.875rem;
}

.post-form .button--primary:hover {
    background-color: #c52726;
}

.post-form .input {
    display: flex;
    flex-direction: column;
}

.post-form .input + .input {
    margin-top: 1.75rem;
}

.post-form .input__label {
    font-weight: 700;
    font-size: 0.875rem;
}

.post-form .input__field {
    display: block;
    margin-top: 0.5rem;
    border: 1px solid #DDD;
    border-radius: 0.25rem;
    padding: 0.75rem 0.75rem;
    transition: 0.15s ease;
    color: black;
}

.post-form .input__field:focus {
    outline: none;
    border-color: #c52726;
    box-shadow: 0 0 0 1px #c52726, 0 0 0 4px rgba(255, 0, 0, 0.25);
}

.post-form .input__field--textarea {
    min-height: 100px;
    max-width: 100%;
}

.post-form .input__description {
    font-size: 0.875rem;
    margin-top: 0.5rem;
    color: #AAAAAA;
}

.categoryTitle {
    position: relative;
    top: 100px;
    left: 10%;
    max-width: 50%;
    max-height: 45px;
    font-size: 20px;
    color: #FFFFFF;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 10px;
}

.categoryTitle h5 {
    align-self: baseline;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.588);
}

.categoryTitle .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.categoryTitle .container {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.categoryTitle .container svg {
    position: relative;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: all 0.3s;
    fill: #666;
}

.categoryTitle .container svg:hover {
    transform: scale(1.1);
}

.categoryTitle .container input:checked ~ svg {
    fill: #ffeb49;
}

.heart-container {
    --heart-color: #c52726;
    position: relative;
    width: 25px;
    height: 25px;
    transition: .3s;
}

.heart-container .checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
}

.heart-container .checkboxComment {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
}

.heart-container .svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart-container .svg-outline,
        .heart-container .svg-filled {
    fill: var(--heart-color);
    position: absolute;
}

.heart-container .svg-filled {
    display: none;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
    display: block
}

.heart-container .checkboxComment:checked~.svg-container .svg-filled {
    display: block
}

.commentBtn {
    padding: 0;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    background-color: #c52726;
}

.commentBtn .IconContainer {
    width: 30px;
    height: 30px;
    background-color: #c52726;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .3s;
}

.commentBtn .icon {
    border-radius: 1px;
}

.commentBtn:active {
    transform: scale(0.95);
    transition-duration: .3s;
}

.commentInput {
    position: relative;
    width: 100%;
    margin: 12px 5px;
    margin-right: 25px;
    --accent-color: #c52726;
}

.commentInput:before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.commentInput:before,
.commentInput:after {
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
    bottom: -1px;
    z-index: 4;
    width: 100%;
}

.commentInput:focus-within:before {
    border-bottom: 1px solid var(--accent-color);
}

.commentInput:before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.commentInput:focus-within:before {
    border-bottom: 1px solid var(--accent-color);
    transform: scaleX(1);
}

.commentInput:focus-within:after {
    border-bottom: 2px solid var(--accent-color);
    transform: scaleX(1);
}

.commentInput:after {
    content: "";
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    will-change: transform;
    border-bottom: 2px solid var(--accent-color);
    border-bottom-color: var(--accent-color);
}

.commentInput::placeholder {
    transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    opacity: 1;
    user-select: none;
    color: rgba(255, 255, 255, 0.582);
}

.commentInput .textInput {
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
    max-height: 36px;
    background-color: #252525;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 200ms;
    transition-property: background-color;
    color: #e8e8e8;
    font-size: 14px;
    font-weight: 500;
    padding: 12px;
    width: 100%;
    border-left: none;
    border-bottom: none;
    border-right: none;
}

.commentInput .textInput:focus,
.commentInput .textInput:active {
    outline: none;
}

.commentInput:focus-within .textInput,
.commentInput .textInput:focus,
.commentInput .textInput:active {
    background-color: #353535;
}

.commentInput:focus-within .textInput::placeholder {
    opacity: 0;
}

.userTitle {
    position: relative;
    top: 100px;
    left: 10%;
    max-width: 50%;
    max-height: 60px;
    font-size: 20px;
    color: #FFFFFF;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 15px;
}

.userTitle img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.edit-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #181818;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
}

.edit-svgIcon {
    width: 17px;
    transition-duration: 0.3s;
}

.edit-svgIcon path {
    fill: white;
}

.edit-button:hover {
    width: 120px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: #c52726;
    align-items: center;
}

.edit-button:hover .edit-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.edit-button::before {
    display: none;
    content: "Edit";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
}

.edit-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
}

.bin {
    scale: 0.7;
}

.bin-report{
    display: flex;
    justify-content: center;
}

.bin-button,
.bin-button-comment,
.bin-button-report {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 15px;
    background-color: #c52726;
    cursor: pointer;
    border: 1px solid #c52726;
    transition-duration: 0.3s;
}

.bin-bottom {
    width: 15px;
}

.bin-top {
    width: 17px;
    transform-origin: right;
    transition-duration: 0.3s;
}

.bin-button:hover .bin-top,
.bin-button-comment:hover .bin-top,
.bin-button-report:hover .bin-top {
    transform: rotate(45deg);
}

.bin-button:hover
.bin-button-comment:hover,
.bin-button-report:hover {
    background-color: #701212;
}

.bin-button:active
.bin-button-comment:active,
.bin-button-report:active {
    transform: scale(0.9);
}

.setting-btn {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: #181818;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 0px 2px #3D3D3D;
    scale: 0.7;
}

.bar {
    width: 50%;
    height: 2px;
    background-color: rgb(229, 229, 229);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 2px;
}

.bar::before {
    content: "";
    width: 2px;
    height: 2px;
    background-color: #181818;
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.3s;
    box-shadow: 0px 0px 5px white;
}

.bar1::before {
    transform: translateX(-4px);
}

.bar2::before {
    transform: translateX(4px);
}

.setting-btn:hover .bar1::before {
    transform: translateX(4px);
}

.setting-btn:hover .bar2::before {
    transform: translateX(-4px);
}

.log {
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 10px;
}

table {
    position: relative;
    top: 100px;
    left: 3%;
    width: 75%;
    border-collapse: collapse;
    color: #fff;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #444;
}
th {
    background-color: #222;
}

.button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #fff;
}

.button:hover {
    opacity: 0.8;
}
.true {
    background-color: green;
}
.false {
    background-color: red;
}
.reset-button {
    background-color: #555;
}
.reset-button:hover {
    background-color: #888;
}

.reset {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.modo {
    scale: 0.7;
}

.modo .container {
    --color: rgba(255, 255, 255, 0.588);
    --size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
}

.modo .container .flag-regular {
    position: absolute;
}

.modo .container .flag-solid {
    position: absolute;
    display: none;
}

.modo .container input:checked ~ .flag-regular {
    display: none;
}

.modo .container input:checked ~ .flag-solid {
    display: block;
}

.modo .container input {
    position: relative;
    opacity: 0;
    cursor: pointer;
}

.filter {
    position: relative;
    top: 80px;
    left: 3%;
    width: 75%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.filter select {
    width: 200px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.filter select option {
    padding: 10px;
}

.checkPost{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cssbuttons-io-button {
    background: #701212;
    color: #fff;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #c52726;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: #fff;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #c52726;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #c52726;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

.radio-input {
    position: relative;
    top: 100px;
    left: 5%;
    display: flex;
    gap: 10px;
    max-width: 450px;
}

.radio-input * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.radio-input label {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 20px;
    width: 220px;
    cursor: pointer;
    height: 50px;
    position: relative;
}

.radio-input label::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 45px;
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: 10px;
    border: 2px solid transparent;
}

.radio-input label:hover::before {
    transition: all 0.2s ease;
    background-color: #212121;
}

.radio-input .labelRadio:has(input:checked)::before {
    background-color: #212121;
    border-color: #701212;
    height: 50px;
}

.radio-input .labelRadio .textRadio {
    color: #fff;
}

.radio-input .labelRadio input[type="radio"] {
    background-color: #fff;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-input .labelRadio input[type="radio"]:checked {
    background-color: #c52726;
}

.radio-input .labelRadio input[type="radio"]:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #fff;
    transform: scale(0);
}

.radio-input .labelRadio input[type="radio"]:checked::before {
    transform: scale(1);
    -webkit-animation: puls 0.7s forwards;
    animation: pulse 0.7s forwards;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #fff;
    padding: 8px;
    background-color: #212121;
}

input[type=file]::file-selector-button {
    margin-right: 8px;
    border: none;
    background: #c52726;
    padding: 8px 12px;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

input[type=file]::file-selector-button:hover {
    background: #701212;
}

.imageSection {
    display: flex;
    justify-content: center;
}

.imageSection img {
    width: 400px;
}