@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #181818;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 997;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.navbar {
    position: relative;
    display: flex;
    padding: 10px;
    background-color: #212121;
    justify-content: space-around;
    align-items: center;
    box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
}

.nav-items > ul > li {
    position: relative;
    display: inline;
    list-style: none;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.nav-items > ul > li > a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
}

.nav-items > ul > li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.17rem;
    background-color: #c52726;
    left: 0;
    bottom: 0;
    transform-origin: 0% 100%;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-items > ul > li:hover::after {
    transform: scaleX(1);
}

.nav-logo a,
.nav-button a {
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    display: flex;
    font-weight: bold;
}

.nav-logo {
    font-size: 32px;
}

.nav-button {
    background-color: #c52726;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

.anim-layer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: #FFFFFF;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-button:hover .anim-layer {
    width: 100%;
    left: 0;
}

.nav-button:hover a {
    color: #141214;
}

.nav-button a {
    display: block;
    padding: 10px 20px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

#hamburger-menu,
#mobile-menu {
    display: none;
}

@media only screen and (max-width: 770px) {
    #mobile-menu {
        background-color: #c52726;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: transform 0.3s ease;
        transform: translateX(-100%);
    }

    .mobile-nav-items > ul {
        padding: 0px;
    }

    .mobile-nav-items > ul > li {
        text-align: center;
        position: relative;
        list-style: none;
        margin: 10px;
        padding: 10px 20px;
        cursor: pointer;
    }

    .mobile-nav-items > ul > li > a {
        color: #FFFFFF;
        text-decoration: none;
    }

    .mobile-nav-items > ul > li::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.17rem;
        background-color: #FFFFFF;
        left: 0;
        bottom: 0;
        transform-origin: 0% 100%;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .mobile-nav-items > ul > li:hover::after {
        transform: scaleX(1);
    }

    .mobile-nav-button {
        background-color: #141214;
        border-radius: 50px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
    }

    .mobile-nav-button .anim-layer {
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 100%;
        background-color: #FFFFFF;
        transition: width 0.3s ease, left 0.3s ease;
    }

    .mobile-nav-button:hover .anim-layer {
        width: 100%;
        left: 0;
    }

    .mobile-nav-button:hover a {
        color: #141214;
    }

    .mobile-nav-button a {
        display: block;
        padding: 10px 20px;
        color: #FFFFFF;
        text-decoration: none;
        position: relative;
        z-index: 1;
    }

    .nav-items > ul,
    .nav-button {
        display: none;
    }

    #hamburger-cross {
        display: block;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 40px;
        position: absolute;
        top: 20px;
        right: 26px;
    }

    #hamburger-menu {
        display: block;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 24px;
    }
    .trend {
        display: none;
    }
}

.trend {
    position: fixed;
    top: 60px;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #212121;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    box-shadow: -15px 0px 17px -25px rgba(0,0,0,0.5);
    z-index: 998;
}

.trend h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.trend ol {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    text-align: left;
}

.trend li {
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.trend li:hover {
    background-color: #3D3D3D;
}

.followers {
    color: #AAAAAA;
    font-size: 14px;
}

.card {
    position: relative;
    top: 120px;
    left: 5%;
    max-width: 960px;
    border-radius: 20px;
    background: #212121;
    overflow: hidden;
    padding: 14px;
    position: relative;
}

.card header.user {
    display: flex;
    gap: 12px;
}

.card header.user img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.card header .user-info-name {
    letter-spacing: 0.4px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.card header .user-info-time {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.588);
}

.card main p {
    font-size: 14px;
    color: #fff;
    margin-top: 16px;
    line-height: 1.7;
}

.card section {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.card section .users-avatars {
    margin-right: 21px;
    display: flex;
    align-items: center;
}

.card section .users-avatars img {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #191a1d;
    margin-right: -15px;
}

.card section p {
    color: rgba(255, 255, 255, 0.508);
    font-size: 12px;
    margin-left: 10px;
}

.card section p.comment {
    margin-left: auto;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #c52726;
}

.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}
.logout:hover {
    width: 150px;
    border-radius: 40px;
    transition-duration: .3s;
}

.logout:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

.logout:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

.logout:active {
    transform: translate(2px ,2px);
}

.icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: fixed;
    bottom: 35px;
    left: 35px;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
}

.add-btn:hover {
    width: 120px;
}

.add-btn::before,
.add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: #c52726;
}

.add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.icon-btn:focus {
    outline: none;
}

.btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
    font-weight: bold;
}

.add-btn:hover::before,
.add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
}

.add-btn:hover .btn-txt {
    opacity: 1;
}

.add-icon::after,
.add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: #c52726;
    overflow: hidden;
}

.add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.pp {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.pp:hover {
    cursor: pointer;
    scale: 1.1;
}

.post-form * {
    z-index: 1000;
    color: #FFFFFF;
}

.post-form textarea {
    color: black;
}

.post-form .button {
    appearance: none;
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

.post-form .container {
    position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-form .modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #212121;
    box-shadow: 0 15px 30px 0 rgba(155, 0, 0, 0.15);
    border-radius: 10px;
}

.post-form .modal__header {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #c52726;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-form .modal__body {
    padding: 1rem 1rem;
}

.post-form .modal__footer {
    padding: 0 1.5rem 1.5rem;
}

.post-form .modal__title {
    font-weight: 700;
    font-size: 1.25rem;
}

.post-form .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease;
}

.post-form .button--primary {
    background-color: #c52726;
    color: #FFFFFF;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    font-weight: 500;
    font-size: 0.875rem;
}

.post-form .button--primary:hover {
    background-color: #c52726;
}

.post-form .input {
    display: flex;
    flex-direction: column;
}

.post-form .input + .input {
    margin-top: 1.75rem;
}

.post-form .input__label {
    font-weight: 700;
    font-size: 0.875rem;
}

.post-form .input__field {
    display: block;
    margin-top: 0.5rem;
    border: 1px solid #DDD;
    border-radius: 0.25rem;
    padding: 0.75rem 0.75rem;
    transition: 0.15s ease;
    color: black;
}

.post-form .input__field:focus {
    outline: none;
    border-color: #c52726;
    box-shadow: 0 0 0 1px #c52726, 0 0 0 4px rgba(255, 0, 0, 0.25);
}

.post-form .input__field--textarea {
    min-height: 100px;
    max-width: 100%;
}

.post-form .input__description {
    font-size: 0.875rem;
    margin-top: 0.5rem;
    color: #AAAAAA;
}